.container {
    padding: 48px 32px;
}

.headerSection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 28px;
}

.location {
 display: flex;
    align-items: center;
}

.header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */

    text-align: center;

    color: #424242;
    margin: 1rem;
}

.date {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;


    color: #41522E;
}

.scroll {
    padding-top: 28px;
    max-height: 600px;
}